
doom/cmake-build-debug/Testing/**
/Users/lennertsteyaert/Documents/GitHub/Doom-Quake-CG/doom/glfw-3.3.6/CMakeFiles/**
/Users/lennertsteyaert/Documents/GitHub/Doom-Quake-CG/doom/glfw-3.3.6/Makefile
/Users/lennertsteyaert/Documents/GitHub/Doom-Quake-CG/doom/cmake-build-debug/**