
doom/cmake-build-debug/Testing/**
doom/glfw-3.3.6/CMakeFiles/**
doom/glfw-3.3.6/Makefile
doom/cmake-build-debug/**
doom/glfw-3.3.6/src/cmake_install.cmake
doom/glfw-3.3.6/src/glfw3.pc
doom/glfw-3.3.6/src/**